body {
  font-size: 12px;
  :hover {
    cursor: default;
  }
}

// set cursors

tbody {
  :hover {
    cursor: pointer;
  }
}

input {
  :hover {
    cursor: auto;
  }
}

// general element spacing

.label {
  font-size: 0.9em;
  text-align: right;
}

h1 {
  font-size: 1.5em;
  margin-top: 10px;
}

#search-button {
  margin: 10px 0;
}

#new-employee-button {
  margin-top: 10px;
  margin-bottom: 5px;
  margin-right: 15px;
}

input,
select {
  margin-top: 5px;
}

// center labels
#form .row,
#employee-card .row {
  display: flex;
  align-items: center;
}

// making bottom scroll area

.section {
  position: absolute;
  top: 0;
  bottom: 5px;
  left: 0;
  right: 0;
  flex-grow: 1;

  display: flex;
  flex-direction: column;

  /* for Firefox */
  min-height: 0;
}

.scrollable-content {
  flex-grow: 1;

  overflow: auto;

  /* for Firefox */
  min-height: 0;
}

// Employee card
#employee-card {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  flex-grow: 1;
  z-index: 1000;
  display: none;
  background-color: white;
  padding: 10px 0;
  font-size: 1.2rem;

  .label {
    font-size: 0.8rem;
  }

  #button-row {
    display: flex;
    justify-content: space-between;
  }
}
