$black: #222;
$purple: #4b4e6d;
$pink: #ea526f;
$green: #7fb069;
$yellow: #fff3b0;

$dark-purple: #1b1c23;
$dark-pink: #7b2333;
$dark-green: #405637;
$dark-yellow: #b9a21f;

$light-purple: #9497ac;
$light-pink: #eab5bf;
$light-green: #c2d3ba;
$light-yellow: #faf6df;

$background: $black;
$text: black;
$heading: white;

// colours

.banner-employee {
  background-color: $pink;
  color: white;
  .close {
    color: white;
  }
}

.banner-department {
  background-color: $green;
  color: white;
  .close {
    color: white;
  }
}

.banner-location {
  background-color: $yellow;
  color: $black;
}

body {
  font-size: 12px;
  font-family: "Commissioner", sans-serif;
  :hover {
    cursor: default;
  }
  background-color: $background;
}

#employee-table-head {
  background-color: $pink;
}

#nav-tabs {
  height: 40px;
  flex: 1;
  bottom: -20px;
  * {
    border-radius: 0;
  }
  #employee-tab {
    background-color: $pink;
    border-left: 2px solid white;
    border-top: 2px solid white;
    border-right: 2px solid white;
  }
  #employee-tab:hover {
    background-color: lighten($pink, 5%);
  }
  #employee-tab:active {
    background-color: darken($pink, 15%);
  }

  #department-tab {
    background-color: $green;
  }
  #department-tab:hover {
    background-color: lighten($green, 5%);
  }
  #department-tab:active {
    background-color: darken($green, 15%);
  }

  #location-tab {
    background-color: $yellow;
  }
  #location-tab:hover {
    background-color: lighten($yellow, 5%);
  }
  #location-tab:active {
    background-color: darken($yellow, 15%);
  }
}

// set cursors

tbody {
  :hover {
    cursor: pointer;
  }
  background-color: #e0e0e0;
}

input {
  :hover {
    cursor: auto;
  }
}

// general element spacing / appearance

#department-table,
#location-table,
#employee-table {
  display: none;
}

.label {
  font-size: 0.9em;
  text-align: right;
  color: $text;
}

h1 {
  font-size: 1.5em;
  margin-top: 10px;
  font-weight: 600;
  color: $heading;
}

#search-button {
  margin: 10px 0;
}

#header {
  height: 50px;
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: $background;
  .btn-group {
    margin-top: 10px;
    margin-right: 15px;
    margin-bottom: 15px;
  }
}

input,
select {
  margin-top: 5px;
}

#clear-search {
  display: none;
}

table {
  z-index: 1;
}

#employee-table {
  margin-bottom: -15px;
}

// center labels
.modal .row {
  display: flex;
  align-items: center;
}

// Table scroll and header
th {
  position: sticky;
  top: 40px;
  height: 40px;
}

table {
  position: relative;
  top: -1px;
}
