$black: #222;
$purple: #4b4e6d;
$pink: #ea526f;
$green: #7fb069;
$yellow: #fff3b0;

$dark-purple: #1b1c23;
$dark-pink: #7b2333;
$dark-green: #405637;
$dark-yellow: #b9a21f;

$light-purple: #9497ac;
$light-pink: #eab5bf;
$light-green: #c2d3ba;
$light-yellow: #faf6df;

$background: $black;
$text: black;
$heading: white;

// colours

.close {
  color: white;
}

.banner-primary {
  background-color: $dark-pink;
  color: white;
}

body {
  font-size: 12px;
  font-family: "Commissioner", sans-serif;
  :hover {
    cursor: default;
  }
  background-color: $background;
}

#employee-table-head {
  background-color: $pink;
}

#nav-tabs {
  height: 40px;
  flex: 1;
  bottom: -20px;
  * {
    border-radius: 0;
  }
  #employee-tab {
    background-color: $pink;
    border-radius: 3px 3px 0 0;
  }
  #employee-tab:hover {
    background-color: $light-pink;
  }
  #employee-tab:active {
    background-color: $dark-pink;
  }

  #department-tab {
    background-color: $green;
    border-radius: 3px 3px 0 0;
  }
  #department-tab:hover {
    background-color: $light-green;
  }
  #department-tab:active {
    background-color: $dark-green;
  }

  #location-tab {
    background-color: $yellow;
    border-radius: 3px 3px 0 0;
  }
  #location-tab:hover {
    background-color: $light-yellow;
  }
  #location-tab:active {
    background-color: $dark-yellow;
  }
}

// set cursors

tbody {
  :hover {
    cursor: pointer;
  }
  background-color: #e0e0e0;
}

input {
  :hover {
    cursor: auto;
  }
}

// general element spacing / appearance

.label {
  font-size: 0.9em;
  text-align: right;
  color: $text;
}

h1 {
  font-size: 1.5em;
  margin-top: 10px;
  font-weight: 600;
  color: $heading;
}

#search-button {
  margin: 10px 0;
}

#header {
  height: 50px;
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: $background;
  .btn-group {
    margin-top: 10px;
    margin-right: 15px;
    margin-bottom: 15px;
  }
}

input,
select {
  margin-top: 5px;
}

#clear-search {
  display: none;
}

table {
  z-index: 1;
}

#employee-table {
  margin-bottom: -15px;
}

// center labels
#form .row,
#search-modal .row {
  display: flex;
  align-items: center;
}

// Table scroll and header
th {
  position: sticky;
  top: 40px;
  height: 40px;
}

table {
  position: relative;
  top: -1px;
}

// Employee card
#employee-card {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  flex-grow: 1;
  z-index: 10000;
  display: none;
  background-color: white;
  padding: 10px 0;
  font-size: 1.2rem;

  .label {
    font-size: 0.8rem;
  }

  .flex-button-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
  }

  // Read mode
  input:disabled,
  select:disabled {
    background-color: white;
  }

  // Edit mode
  input:enabled,
  select:enabled {
    background-color: rgb(254, 255, 186);
  }

  // Hide dropdown arrows
  select {
    /* for Firefox */
    -moz-appearance: none;
    /* for Chrome */
    -webkit-appearance: none;
  }

  /* For IE10 */
  select::-ms-expand {
    display: none;
  }

  // Hide save buttons
  #save-buttons,
  #create-buttons {
    display: none;
    margin-top: 15px;
  }

  #input:invalid {
    background-color: red;
  }
}
