.close {
  color: white;
}

.banner-primary {
  background-color: #7b2333;
  color: white;
}

body {
  font-size: 12px;
  font-family: "Commissioner", sans-serif;
  background-color: #222;
}

body :hover {
  cursor: default;
}

#employee-table-head {
  background-color: #ea526f;
}

#nav-tabs {
  height: 40px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  bottom: -20px;
}

#nav-tabs * {
  border-radius: 0;
}

#nav-tabs #employee-tab {
  background-color: #ea526f;
  border-left: 2px solid white;
  border-top: 2px solid white;
  border-right: 2px solid white;
}

#nav-tabs #employee-tab:hover {
  background-color: #ed6982;
}

#nav-tabs #employee-tab:active {
  background-color: #d61a3e;
}

#nav-tabs #department-tab {
  background-color: #7fb069;
}

#nav-tabs #department-tab:hover {
  background-color: #8db97a;
}

#nav-tabs #department-tab:active {
  background-color: #5a8647;
}

#nav-tabs #location-tab {
  background-color: #fff3b0;
}

#nav-tabs #location-tab:hover {
  background-color: #fff7ca;
}

#nav-tabs #location-tab:active {
  background-color: #ffe764;
}

tbody {
  background-color: #e0e0e0;
}

tbody :hover {
  cursor: pointer;
}

input :hover {
  cursor: auto;
}

.label {
  font-size: 0.9em;
  text-align: right;
  color: black;
}

h1 {
  font-size: 1.5em;
  margin-top: 10px;
  font-weight: 600;
  color: white;
}

#search-button {
  margin: 10px 0;
}

#header {
  height: 50px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: #222;
}

#header .btn-group {
  margin-top: 10px;
  margin-right: 15px;
  margin-bottom: 15px;
}

input,
select {
  margin-top: 5px;
}

#clear-search {
  display: none;
}

table {
  z-index: 1;
}

#employee-table {
  margin-bottom: -15px;
}

#form .row,
#search-modal .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

th {
  position: -webkit-sticky;
  position: sticky;
  top: 40px;
  height: 40px;
}

table {
  position: relative;
  top: -1px;
}

#employee-card {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  z-index: 10000;
  display: none;
  background-color: white;
  padding: 10px 0;
  font-size: 1.2rem;
  /* For IE10 */
}

#employee-card .label {
  font-size: 0.8rem;
}

#employee-card .flex-button-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 40px;
}

#employee-card input:disabled,
#employee-card select:disabled {
  background-color: white;
}

#employee-card input:enabled,
#employee-card select:enabled {
  background-color: #feffba;
}

#employee-card select {
  /* for Firefox */
  -moz-appearance: none;
  /* for Chrome */
  -webkit-appearance: none;
}

#employee-card select::-ms-expand {
  display: none;
}

#employee-card #save-buttons,
#employee-card #create-buttons {
  display: none;
  margin-top: 15px;
}

#employee-card #input:invalid {
  background-color: red;
}
/*# sourceMappingURL=style.css.map */