body {
  font-size: 12px;
  :hover {
    cursor: default;
  }
}

// set cursors

tbody {
  :hover {
    cursor: pointer;
  }
}

input {
  :hover {
    cursor: auto;
  }
}

// general element spacing / appearance

.label {
  font-size: 0.9em;
  text-align: right;
}

h1 {
  font-size: 1.5em;
  margin-top: 10px;
  font-weight: 600;
}

#search-button {
  margin: 10px 0;
}

#header .btn-group {
  margin-top: 10px;
  margin-right: 15px;
  margin-bottom: 5px;
}

input,
select {
  margin-top: 5px;
}

#clear-search {
  display: none;
}

// center labels
#form .row,
#employee-card .row {
  display: flex;
  align-items: center;
}

// making bottom scroll area

.section {
  position: absolute;
  top: 0;
  bottom: 5px;
  left: 0;
  right: 0;
  flex-grow: 1;

  display: flex;
  flex-direction: column;

  /* for Firefox */
  min-height: 0;
}

.scrollable-content {
  flex-grow: 1;

  overflow: auto;

  /* for Firefox */
  min-height: 0;
}

// Employee card
#employee-card {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  flex-grow: 1;
  z-index: 1000;
  display: none;
  background-color: white;
  padding: 10px 0;
  font-size: 1.2rem;

  .label {
    font-size: 0.8rem;
  }

  .flex-button-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
  }

  // Read mode
  input:disabled,
  select:disabled {
    background-color: white;
  }

  // Edit mode
  input:enabled,
  select:enabled {
    background-color: rgb(254, 255, 186);
  }

  // Hide dropdown arrows
  select {
    /* for Firefox */
    -moz-appearance: none;
    /* for Chrome */
    -webkit-appearance: none;
  }

  /* For IE10 */
  select::-ms-expand {
    display: none;
  }

  // Hide save buttons
  #save-buttons,
  #create-buttons {
    display: none;
    margin-top: 15px;
  }

  #input:invalid {
    background-color: red;
  }
}
